<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/main.js" defer></script>
</head>
<h1>SERVICE</h1>

<div>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <a href="/">Main</a>
</div>

<div class="products">
    <div class="product">
        <div class="title">Товар 1</div>
        <div class="description">Описание товара 1</div>
        <div class="price">Цена 1</div>
    </div>
    <div class="product">
        <div class="title">Товар 2</div>
        <div class="description">Описание товара 2</div>
        <div class="price">Цена 2</div>
    </div>
</div>

</html>